name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Install
        run: npm install --dev
      - name: Compile
        run: npm run compile
      - name: Run jest tests
        run: npm run test
